<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/styles.css">
  <title>99 questions</title>
</head>
<body>
  <header>
    <p>Nemo is a bot with existential questions. Follow her on Twitter at <a href="https://twitter.com/nemo_asks">nemo_asks</a></p>
  </header>
  <div id="question">
    <h1 id="title">Nemo Asks</h1>
    <p id="the-question"> {{sentence}}</p>
    <div>
      <form action="/tweet" method="post">
        <input type="hidden" name="sentence" value="{{ sentence }}">
        <div>
          <button class="button" type="submit">Tweet this</button>
          <button class="reload-btn">new question</button>
        </div>
      </form>
    </div>
  </div>
</body>
</html>
