body {
  display: flex;
  flex: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 24px;
  font-family: Arial, sans-serif;
  background-image: url("girl.gif");
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

blockquote::first-letter {
  text-transform: uppercase;
}


